.banner_wrapper {
  background-image: url("../../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner_wrapper p {
  max-width: 80%;
  color: var(--text-white);
}
.banner_wrapper .top-right-sec {
  position: relative;
  background-image: url("../../images/cloud.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.banner_wrapper .animate-img {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 22;
}
.homepageicons {
  width: 70px;
  width: 70px;
  margin-bottom: 20px;
}
.aimg1,
.aimg2 {
  width: 200px;
}
.aimg2 {
  margin-left: 15.5rem;
  position: relative;
  bottom: 25px;
  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.aimg1 {
  position: absolute;
  left: -5.6875rem;
  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.aimg3 {
  width: 350px;
  position: relative;
  bottom: 10px;
  right: 55px;
}
.home .card:hover {
  -webkit-transform: translateY(-0.625rem);
  transform: translateY(-0.625rem);
}
