.logo_full {
  display: flex;
  align-items: center;
}

.logo_img {
  width: 20px;
  margin-right: 10px;
}

.header_wrapper .navbar {
  padding: 0.9375rem 0;
  background: transparent;
  transition: 0.3s ease-in-out;
}
.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus {
  border: 0;
  box-shadow: none;
  color: var(--test-black);
  line-height: 2;
}
.header_wrapper .nav-item {
  margin: 0.625rem;
}
.header_wrapper .nav-item .nav-link {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--primary-text);
  display: inline-block;
}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link:active {
  color: var(--secondary-color);
}
.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: var(--bg-white);
  box-shadow: 0.5084rem 1.419rem 2.5rem 0 rgb(0 0 0/8%);
  transition: 0.3% ease-in-out;
}
@media (max-width: 1199.5px) {
  .header_wrapper .navbar-nav .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .header_scrolled {
    height: auto;
  }
  .header_wrapper .nav-item .nav-link {
    margin-top: 0.9375rem;
  }
}
